In [1]:
from sqlalchemy import exists, Column, Integer, String, ForeignKey, DateTime, Text, func
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import sqlalchemy

In [2]:
# pip install mysql-connector-python
import mysql.connector

class Mysql_Connector(object):
	def __init__(self,host,port,user,password,database):
		self.host=host
		self.port=port
		self.user=user
		self.password=password
		self.database=database
	def get_connect(self):
		return mysql.connector.connect(host=self.host,user=self.user,password=self.password,database=self.database)

In [5]:
# https://github.com/mkleehammer/pyodbc/wiki/Cursor
key = '' # your passward to access sql server

# update insert
def operate(sql):
    mysql_connect=Mysql_Connector('localhost',3306,'root',key,'travel_reservation_service')
    conn=mysql_connect.get_connect()
    cursor=conn.cursor()
    try:
        cursor.execute(sql)
        cursor.close()
        conn.commit()
    except Exception as e:
        print(e)
        cursor.close()
        # Rollback in case there is any error
        conn.rollback()
    conn.close()

# select
def select(sql):
    mysql_connect=Mysql_Connector('localhost',3306,'root',key,'travel_reservation_service')
    conn=mysql_connect.get_connect()
    cursor=conn.cursor()
    results = None
    try:
        cursor.execute(sql)
        results = cursor.fetchall()
        cursor.close()
    except Exception as e:
        print(e)
        cursor.close()
    conn.close()
    return results

# call proc
def callproc(sql, args=[]):
    mysql_connect=Mysql_Connector('localhost',3306,'root',key,'travel_reservation_service')
    conn=mysql_connect.get_connect()
    cursor=conn.cursor()
    results = None
    try:
        cursor.callproc(sql, args)
        for re in cursor.stored_results():
            results=re.fetchall()
#             print(results)
#         results = cursor.fetchall()
        cursor.close()
        conn.commit()
    except Exception as e:
        print(e)
        cursor.close()
        # Rollback in case there is any error
        conn.rollback()
    conn.close()
    return results

# Not sure why we need these two functions here
@classmethod
def int_c(cls, int_):
    return int_ if int_ else 'null'

@classmethod
def str_c(cls, str_):
    return "'{}'".format(str_) if str_ else 'null'

In [8]:
# if __name__ == '__main__':
# login_msg = ['192.168.0.1', 3306, 'student_db', 'paisen', 'abcd1234']
# msq = MySqlOp(login_msg)

# select
result = select('''select * from Accounts;''')
print(result)

# insert and update
operate('''insert into Accounts values ('aray5@tiktok.com', 'Addison', 'Ray', 'password17');''')

# call proc
cover = callproc('test1', [])
print(cover)

[('aray@tiktok.com', 'Addison', 'Ray', 'password17'), ('aray1@tiktok.com', 'Addison', 'Ray', 'password17'), ('aray2@tiktok.com', 'Addison', 'Ray', 'password17'), ('aray3@tiktok.com', 'Addison', 'Ray', 'password17'), ('arthurread@gmail.com', 'Arthur', 'Read', 'password4'), ('asmith@travelagency.com', 'Aviva', 'Smith', 'password2'), ('boblee15@gmail.com', 'Bob', 'Lee', 'password25'), ('bshelton@gmail.com', 'Blake', 'Shelton', 'password19'), ('cbing10@gmail.com', 'Chandler', 'Bing', 'password13'), ('cdemilio@tiktok.com', 'Charlie', 'Demilio', 'password18'), ('ellie2@gmail.com', 'Ellie', 'Johnson', 'password10'), ('falcon@gmail.com', 'Samuel', 'Wilson', 'password22'), ('falcon2@gmail.com', 'Samuel', 'Wilson', 'password22'), ('falcon3@gmail.com', 'Samuel', 'Wilson', 'password22'), ('gburdell3@gmail.com', 'George', 'Burdell', 'password6'), ('hwmit@gmail.com', 'Howard', 'Wolowitz', 'password14'), ('johnthomas@gmail.com', 'John', 'Thomas', 'password24'), ('jseinfeld@gmail.com', 'Jerry', 'Seinfeld', 'password22'), ('jwayne@gmail.com', 'John', 'Wayne', 'password5'), ('lbryan@gmail.com', 'Luke', 'Bryan', 'password20'), ('lebron6@gmail.com', 'Lebron', 'James', 'password8'), ('maddiesmith@gmail.com', 'Madison', 'Smith', 'password23'), ('mgeller5@gmail.com', 'Monica', 'Geller', 'password12'), ('mj23@gmail.com', 'Michael', 'Jordan', 'password7'), ('mmoss1@travelagency.com', 'Mark', 'Moss', 'password1'), ('mscott22@gmail.com', 'Michael', 'Scott', 'password3'), ('msmith5@gmail.com', 'Michael', 'Smith', 'password9'), ('scooper3@gmail.com', 'Sheldon', 'Cooper', 'password11'), ('swilson@gmail.com', 'Samantha', 'Wilson', 'password16'), ('tswift@gmail.com', 'Taylor', 'Swift', 'password21'), ('xinyue.ma@gatech.edu', 'Xinyue', 'Ma', 'gatech'), ('xinyue.ma1@gatech.edu', 'Xinyue', 'Ma', 'gatech')]
[('American Airlines', Decimal('4.6')), ('Delta Airlines', Decimal('4.7')), ('Interjet', Decimal('3.7')), ('JetBlue Airways', Decimal('3.6')), ('Southwest Airlines', Decimal('4.4')), ('Spirit Airlines', Decimal('3.3')), ('United Airlines', Decimal('4.2')), ('WestJet', Decimal('3.9'))]